<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="helloworld" class="com.company.ioc容器1.helloworld1.HelloWorld">
        <property name="message" value="Spring:Hello World!"/>
    </bean>


    <bean id="beanfactory" class="com.company.ioc容器1.beanfactory2.HelloWorld">
        <property name="message" value="beanfactory:helloworld!"/>
    </bean>


    <bean id="applicationcontext" class="com.company.ioc容器1.applicationcontext3.HelloWorld">
        <property name="message" value="applicationfactory:helloworld!"/>
    </bean>


    <bean id="spring4_1" class="com.company.ioc容器1.springbean作用域4.singleton.HelloWorld"
    scope="singleton">
    </bean>


    <bean id="spring4_2" class="com.company.ioc容器1.springbean作用域4.prototype.HelloWorld"
          scope="prototype"></bean>


    <!--springbean生命周期
    <bean id="spring5" class="com.company.ioc容器1.springbean生命周期5.HelloWorld"
    init-method="init" destroy-method="destroy" >
        <property name="message" value="Hello World!"/>
    </bean>
    -->

    <!--Spring后置处理器6

    <bean id="spring6" class="com.company.ioc容器1.springbean后置处理器6.HelloWorld"
          init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World"/>
    </bean>
    <bean class="com.company.ioc容器1.springbean后置处理器6.InitHelloWorld" />
    -->


    <bean id="spring7" class="com.company.ioc容器1.springbean定义继承7.HelloWorld">
        <property name="message1" value="HelloWorld!"/>
        <property name="message2" value="HellosecondWorld!"/>
    </bean>
    <bean id="spring7_1" class="com.company.ioc容器1.springbean定义继承7.HelloIndia" parent="spring7">
        <property name="message1" value="helloindian!"/>
        <property name="message3" value="namasteindia!"/>
    </bean>


    <!--Spring依赖注入基于构造函数的依赖注入8
    <bean id="textEditor" class="com.company.spring依赖注入2.基于构造函数的依赖注入8.TextEditor">
        <constructor-arg ref="spellChecker"/>
    </bean>-->
    <bean id="spellChecker" class="com.company.spring依赖注入2.基于构造函数的依赖注入8.SpellChecker">
    </bean>


    <!--Spring依赖注入设值函数的依赖注入9-->
    <bean id="spring设置函数TextEditor" class="com.company.spring依赖注入2.基于设值函数的依赖注入9.TextEditor">
        <property name="spellChecker" ref="spellChecker"/>
    </bean>
    <!--
    同上面基于构造函数的依赖注入的spellChecker
    <bean id="spellChecker" class="com.company.spring依赖注入2.基于构造函数的依赖注入8.SpellChecker">
    </bean>
    -->


</beans>